script(src="scripts/libs/angular.min.js")
script(src="scripts/libs/angular-cookies.min.js")
script(src="scripts/libs/angular-resource.min.js")
script(src="scripts/libs/angular-route.min.js")
script(src="scripts/libs/jquery.min.js")
script(src="scripts/libs/sup-resource.js")
script(src="scripts/libs/sup-iframeheight.js")

script(src="scripts/app.js")
script(src="scripts/config.js")
script(src="scripts/routes.js")

script(src="scripts/services/interceptor.js")
script(src="scripts/services/auth.js")
script(src="scripts/services/restapi.js")

script(src="views/auth/auth.js")
script(src="views/auth/redirect.js")
script(src="views/newsletter/edit.js")
script(src="views/newsletter/posts.js")
script(src="views/newsletter/profile.js")

script(src="scripts/run.js")