script(src="app/app.js")
script(src="app/run.js")
script(src="app/config.js")
script(src="app/route.js")

script(src="app/service/interceptor.js")
script(src="app/service/services.js")


script(src="app/module/newsletter/edit.js")
script(src="app/module/newsletter/posts.js")
script(src="app/module/newsletter/profile.js")

script(src="app/module/user/login.js")
script(src="app/module/user/logout.js")
script(src="app/module/user/auth.js")
script(src="app/module/user/notify.js")