.wrap
  .container
    .row
      h1 您没有登录，请关闭本页，重新进入！
    .row
      .col-md-6.center
        a.btn.btn-default.btn-wider(
        href="javascript:opener=null;window.open('','_self');window.close()"
        ) 关闭本页面

