<div layout="column">
  <md-toolbar class="md-hue-3">
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" aria-label="{{_('Back')}}"
       ng-click="jump_to('/newsletter/posts')">
        <md-icon md-svg-icon="ic_arrow_back_24px"></md-icon>
      </md-button>
      <h2>
        <span>{{ _('Newsletter') }}</span>
      </h2>
      <span flex></span>
      <ng-include src="'blueprints/newsletter/views/menu.tmpl.html'" 
       ng-controller="menuCtrl"></ng-include>
    </div>
  </md-toolbar>
  
  <div class="md-padding">
    <form name="post_form" layout="column"
     novalidate ng-submit="save_post()">
    
      <md-input-container>
        <label>{{_('Title')}}</label>
        <input name="title" ng-model="post.title"
         md-maxlength="30" required/>
        <ng-messages for="post_form.title.$error" role="alert">
          <ng-message when="required">
            {{ _('Title is required.') }}
          </ng-message>
        </ng-messages>
      </md-input-container>
    
      <md-input-container class="md-block">
        <label>{{_('Content')}}</label>
        <textarea name="content" ng-model="post.content"
         md-maxlength="6000" rows="10" required></textarea>
        <ng-messages for="post_form.content.$error" role="alert">
          <ng-message when="required">
            {{ _('Content is required.') }}
          </ng-message>
        </ng-messages>
      </md-input-container>
    
      <div layout="row">
        <md-button class="md-raised md-primary" type="submit"
         ng-disabled="is_submitted">
          {{_('Save')}}
        </md-button>
        <md-button class="md-raised" type="button" ng-if="is_new"
         ng-click="jump_to('/newsletter/posts')" ng-disabled="is_submitted">
          {{_('Cancel')}}
        </md-button>
        <md-button class="md-raised" type="button" ng-if="!is_new"
         ng-click="jump_to('/newsletter/posts/' + post.id + '/send')" 
         ng-disabled="is_submitted">
          {{_('Send')}}
        </md-button>
      
        <span flex></span>
      
        <md-button class="md-icon-button"
         aria-label="{{_('Delete')}}"
         ng-click="delete_post()" type="button" 
         ng-disabled="is_new || is_submitted">
         <md-icon md-svg-icon="ic_delete_24px"></md-icon>
        </md-button>
      </div>
    
    </form>
  </div>
    
  </div>
</div>
