<div layout="column">
  <md-toolbar class="md-hue-3">
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" aria-label="{{_('Back')}}"
       ng-click="jump_to('/newsletter/posts')" ng-disabled="true">
        <md-icon md-svg-icon="ic_arrow_back_24px"></md-icon>
      </md-button>
      <h2>
        <span>{{ _('Newsletter') }}</span>
      </h2>
      <span flex></span>
      <ng-include src="'blueprints/newsletter/views/menu.tmpl.html'" 
       ng-controller="menuCtrl"></ng-include>
    </div>
  </md-toolbar>
  <div class="md-padding">
    <md-list>
      <md-subheader class="md-no-sticky">{{_('Posts')}}</md-subheader>
      <div ng-repeat="item in posts">
        <md-list-item class="md-2-line">
          <div class="md-list-item-text" layout="column">
            <h3>{{ item.title }}</h3>
            <p class="text-nowrap" max-vw="70">{{ item.update_time }}</p>
          </div>
          <div class="actions" layout="row" layout-align="end center">
              <md-button class="md-raised md-icon-button"
               ng-click="open_post(item.id)" aria-label="{{_('Edit')}}">
                <md-icon md-svg-icon="ic_create_24px"></md-icon>
              </md-button>
          </div>
        </md-list-item>
        <md-divider class="dotted" ng-show="!$last"></md-divider>
      </div>
      <md-divider></md-divider>
      <md-list-item class="md-2-line">
        <div class="md-list-item-text" layout="column">
          <div>
            <md-button class="md-raised" 
             ng-click="jump_to('/newsletter/edit_post/new')">
              {{_('New')}}
            </md-button>
          </div>
        </div>
      </md-list-item>
    </md-list>
  </div>
</div>
