<div class="wrapper">
  <section class="container-fluid">
    <div class="row">
      <div class="section-block col-md-12 textarea">
        <section>
          <header>
            <h2 class="title"><span class="text">Newsletter</span></h2>
          </header>
          <div class="col-xs-12 text-right">
            <a ng-click="jump_to('/newsletter/edit_post/new')" 
             class="btn btn-primary btn-wider">新建文章</a>
            <a ng-click="jump_to('/newsletter/profile')"
             class="btn btn-primary btn-wider">信息设置</a>
            <a ng-click="jump_to('/newsletter/posts')"
             class="btn btn-primary btn-wider">文章管理</a>
          </div>
        </section>
      </div>
    </div>
    <div class="row">
      <div></div>
      <div class="section-block col-md-12">
        <section>
          <header>
            <h3 class="title"> 文章管理</h3>
          </header>
        </section>
      </div>
    </div>
    <!-- Section block-->
    <div></div>
    <div class="section-block col-md-12"></div>
    <section>
      <div class="divtable">
        <div class="row divtable-header">
          <h5 class="divtable-cell col-xs-6 col-sm-5 col-md-5">标题</h5>
          <h5 class="divtable-cell col-xs-0 col-sm-3 col-md-3 
           text-center">日期</h5>
          <h5 class="divtable-cell col-xs-3 col-sm-2 col-md-2 
           text-center">详情</h5>
        </div>
        <div ng-repeat="post in posts" class="row divtable-row">
          <div class="divtable-cell col-xs-6 col-sm-5 col-md-5">
            <p ng-bind="post.title" class="text"></p>
          </div>
          <div class="divtable-cell col-xs-0 col-sm-3 col-md-3 text-center">
            <p ng-bind="post.update_time" class="text"></p>
          </div>
          <div class="divtable-cell col-xs-3 col-sm-2 col-md-2 text-center">
            <a ng-click="open_post(post.id)"
             class="btn btn-primary btn-circle">
              <i class="ico-eye"></i>
            </a>
          </div>
        </div>
      </div>
    </section>
  </section>
</div>